<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520318040181-j5p0s2lskj95ss6f9vrhcf3kn7h8s11r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520318040181-j5p0s2lskj95ss6f9vrhcf3kn7h8s11r</string>
	<key>API_KEY</key>
	<string>AIzaSyCMCYC4fTrb_678jlKRFZ0A09QghqQwUxI</string>
	<key>GCM_SENDER_ID</key>
	<string>520318040181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishantsirohi.edicine.edicine</string>
	<key>PROJECT_ID</key>
	<string>edicine-a0020</string>
	<key>STORAGE_BUCKET</key>
	<string>edicine-a0020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520318040181:ios:9d20dad4ca3927a38ea03c</string>
</dict>
</plist>